{% extends "templates/web.html" %}

{% block page_content %}

<!-- Jumbotron Section -->
<div class="jumbotron">
    <h1 class="display-4">Welcome To Suvaidyam</h1>
    <p class="lead">Empowering Rural India Through Tech <br> Bridging the technology gap to unlock the full potential of
        every individual.</p>
    <hr class="my-4">
    <p>Indian villages have the potential to serve as centres of advanced technology and innovation. Our primary
        objective is to empower rural India by revolutionising the way we teach and upskill its youth.</p>
    <p>We are working towards removing the barriers that keep rural India out of the tech ecosystem. We want its youth
        to be able to dream big and chase opportunities in tech.</p>
    <p>Our goal, therefore, is to provide easy access to technical infrastructure, education, and opportunities to rural
        India and empower individuals, families, and in turn, rural communities to thrive and grow.</p>
    <div class="text-center px-3">
        <p>We are bringing technical infrastructure to our villages in order to make them self-sustained technology hubs
            so
            that our youth is not forced to migrate to cities to pursue rewarding careers.</p>
        <p class="font-italic">- Amresh Kumar, Founder</p>
    </div>
    <a class="btn btn-primary btn-lg" href="https://learn.suvaidyam.com/apply-for-learner/new" role="button">Apply
        Now</a>
</div>



{% endblock %}