{% extends "templates/web.html" %}

{% block page_content %}

<div>
    <!-- <div class="container-fluid mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Your Suvaidyam</h1>
            <p class="lead">We provide exceptional services to meet your needs.</p>
            <hr class="my-4">
            <p>Explore our website to learn more about us.</p>
            <a class="btn btn-primary btn-lg" href="https://learn.suvaidyam.com/apply-for-learner/new" role="button">Learn more</a>
        </div>
    </div> -->

    <!-- Jumbotron Section -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome To Suvaidyam</h1>
        <p class="lead">Empowering Minds, Enriching Lives</p>
        <hr class="my-4">
        <p>Embark on a transformative learning experience with our wide range of courses designed to enrich your skills and knowledge. Whether you're a beginner or an advanced learner, our courses cater to diverse interests and expertise levels. From cutting-edge technology to creative arts, we offer engaging and comprehensive content to ignite your passion for learning. Join us on a journey of discovery and skill development, and take the first step towards unlocking your full potential.</p>
        <a class="btn btn-primary btn-lg" href="https://learn.suvaidyam.com/apply-for-learner/new" role="button">Join us</a>
    </div>
</div>



{% endblock %}